.card {
    background-color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-bottom: 48px;
    -webkit-box-shadow: -3px 2px 50px 15px rgba(0, 0, 0, 0.51);
    box-shadow: -3px 2px 50px 15px rgba(0, 0, 0, 0.51);
}

.card-information-paragraph {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--white);
    background-color: var(--black);
    padding: 4px 0;
}

.wine-name {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 0 48px;
    color: var(--black);
    text-transform: uppercase;
}

.wine-price {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
    color: var(--black);
    padding: 0.7em 0;
}


.wine-unit {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--orange);
    margin-bottom: 16px;
}

.cuotas {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--blue);
    margin-top: 1em;
}

.more-information {
    box-shadow: 0px 2px 58px 24px rgba(240, 34, 34, 0.293);
    -webkit-box-shadow: 0px 2px 58px 24px rgba(240, 34, 34, 0.607);
    -moz-box-shadow: 0px 2px 58px 24px rgba(240, 34, 34, 0.646);
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

button {
    border: 0;
}