.container-welcome{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.imagen-vino{
    width: 100%;
    height: 600px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 16px;
}

.welcome-absolute{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome-paragraph{
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    
}
