.card-detail {
    width: 400px;
}

.detail-cards-information {
    display: flex;
}

.name-detail {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--darkgrey);
    padding: 16px;
}

.wine-price-detail {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: var(--blue);
    padding: 16px;
}

.wine-unit-detail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgrey);
    padding: 8px 16px;
}

.button {
    width: 23px;
    height: 40px;
    border: 1px solid #B8B4B4;
}

.contador {
    width: 92px;
    height: 40px;
    color: #B8B4B4;
    display: flex;
    align-items: center;
    border: 1px solid #B8B4B4;
    margin: 16px;
}

.count {
    width: 48px;
    text-align: center;
    border: 1px solid #B8B4B4;
    height: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--black);


}

.menu {
    display: flex;
    max-height: 24px;
    text-align: center;
    align-items: center;
}

.description {
    margin: 16px;
    max-width: 800px;
}

.flecha {
    width: 24px;
    height: 24px;
}

.rotar-flecha {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}